
  <div class="card-user-content">
    <%= cl_image_tag user.photo.key, width: 250,crop: :fill,  class: "avatar-large-preview", alt: "avatar-large" %>
    <h5 class="user-card-title"> <%= user.first_name %></h5>
    <h5 class="user-card-title"> <%= user.last_name %></h5>
    <h6 class="link-card"> #<%= user.batch %></h6>
    <p> <%= user.description %></p>
      <%= @jsp %>
      <%= @jsp.find(friend: user, user: current_user) %>
        <% if @jsp.find(friend: user) %>
      <p>Tu es déjà ami avec cette personne</p>
        <% else %>
      <%= button_to user_friendships_path(user), method: :post, class: "btn-friend" do %>
        Envoyer une demande d'ami
      <% end %>
    <% end %>
    </div>
  <div class="card-badges">
    <h5 class="user-card-title"> Badges </h5>

  </div>
