<div class="navbar navbar-expand-sm navbar-light navbar-container">
  <div class="container-fluid d-flex justify-content-center">
    <%= link_to root_path do %>
      <%= image_tag("share-logo.jpg", class: "navbar-logo") %>
    <% end %>
    <div class="pink-box">
      <div class=" blue-box">
        <%= link_to root_path do %>
          <i><Home class="fa-solid fa-house home-logo"></i>
        <% end %>
        <div class="share-txt">Share</div>

        <% if user_signed_in?  %>
          <div  id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= cl_image_tag current_user.photo.key, width: 250,crop: :fill,  class: "avatar dropdown-toggle", id:"navbarDropdown"%>
          </div>

        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to 'Tableau de bord', dashboards_path, class: "dropdown-item tdbord", style: 'text-decoration: none;' %>
            <%= link_to users_path, class: "dropdown-item", style: 'text-decoration: none' do  %>
              Mon Batch <%#= current_user.batch %>
            <% end %>
          <%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "log-out dropdown-item" %>
        </div>
        <% else%>
          <div  id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "avatar-home.avif" , class: "avatar" %>
          </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
