
<div class="baseline">
  <h1 class="welcome-sentence">Bienvenue à la bibliothèque !</h1>
</div>

<div class="container library-container">
  <div class="bibli-table d-flex">

    <%= image_tag("bibli2.jpg", height: 400, class: "bibli-image") %>
    <p>
      La bibliothèque met à votre disposition de nombreuses ressources que vous pouvez consulter, emprunter et télécharger.
      N'hésitez pas à partager les vôtres !
    </p>
    <div  class="resources-link-bibli">
      <%= link_to "Se rendre à l'espace ressources", courses_path, class: "button-78" %>
    </div>

    <div class="table-space">
      <h2>Les salles</h2>
      <p>Découvrez les salles, un endroit pour travailler où seulement vous et les personnes invités peuvent rejoindre.</p>
      <%= image_tag("table-2.png", height: 400) %>
    </div>
  </div>

  <div class="chatroom">
    <div
      data-controller="library-subscription"
      data-library-subscription-library-id-value="<%= @library.id %>"
      data-library-subscription-current-user-id-value="<%= current_user.id %>">
      <div class="messages" data-library-subscription-target="messages">
        <% @library.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
          <i class=" d-flex time justify-content-center"><%= message.created_at.in_time_zone('Europe/Paris').strftime("%k:%M ") %></i>
        <% end %>
      </div>

      <%= simple_form_for [@library, @message],
        html: { data: { action: "turbo:submit-end->library-subscription#resetForm", library_target: "form" }} do |f| %>
          <%= f.input :content, label: false, placeholder: "Share ton message ici", input_html: { id: "envoyer" } %>
      <% end %>
    </div>
  </div>
</div>
