<div class="container-fluid">
  <div>
    <h2 class= "discover" style="color: #FB5645">
      Bienvenue à la bibliothèque,  <%= content_tag :span, current_user.first_name, style: "color: #BA2749;" %> !
    </h2>
    <span class="border" id="welcome-chat" style="color: black">Ceci est un Chat Général, veillez tout de même à ce que vous dites</span>
    <div class="container chatroom border"
      data-controller="library-subscription"
      data-library-subscription-library-id-value="<%= @library.id %>"
      data-library-subscription-current-user-id-value="<%= current_user.id %>">
      <div class="messages" data-library-subscription-target="messages">
        <% @library.messages.each do |message| %>
          <div class="message-row d-flex border <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
          </div>
        <% end %>
      </div>

        <%= simple_form_for [@library, @message],
          html: { data: { action: "turbo:submit-end->library-subscription#resetForm", library_target: "form" }} do |f| %>
            <%= f.input :content, label: false, placeholder: "Share ton message ici", input_html: { id: "envoyer" } %>
        <% end %>
    </div>
  </div>
  <div class="library-container border">
      <div class="banner-lib border">
        <div class="bibliostyle border" style="background-image: url(<%= image_path 'workingpeople.png' %>)">
          <div class="baseline-container">
            <%= link_to courses_path, style: "text-decoration: none;", class: "button-juju" do %>
              <button class="buttonjuju" role="button"><span>Espace ressources</span></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
