<div class="main-card-content">
  <div class="card-visualisation" data-display-event-card-target="preview">
    <%#= cl_image_tag event.document.key, width: 250, height: 300,crop: :fill, format: :jpg, class:"pdf" %>
    <p class="event-intro"> <%= event.created_by%> présente </p>
    <h4 class="visu-subtitle"> <%= event.title%> </h4>
    <p class="summarize"> <%= event.description%> </p>
    <h5 class="card-category">  
    <% if event.category == "Soirée" %>
      <h5 class="card-category"><i class="fa-solid fa-champagne-glasses"></i></h5>
    <% elsif event.category == "Conférence" %>
      <h5 class="card-category"><i class="fa-solid fa-school"></i></h5>
    <% elsif event.category == "Speed dating" %>
      <h5 class="card-category"><i class="fa-solid fa-heart"></i></h5>
    <% elsif event.category == "Coaching" %>
      <h5 class="card-category"><i class="fa-solid fa-person-chalkboard"></i></h5>
    <% elsif event.category == "CAMPUS ALERT" %>
      <h5 class="card-category"><i class="fa-solid fa-bell"></i></h5>
    <% elsif event.category == "Gaming" %>
      <h5 class="card-category"><i class="fa-solid fa-headset"></i></h5>
    <% elsif event.category == "Témoignage" %>
      <h5 class="card-category"><i class="fa-solid fa-child-reaching"></i></h5>
    <% elsif event.category == "Tournoi" %>
      <h5 class="card-category"><i class="fa-solid fa-headset"></i></h5>
    <% end %>
    <strong><%= event.category%></strong> </h5>
    <% if event.location == "Campus" %>
      <p class="card-category"><i class="fa-solid fa-bullhorn"></i></p>
      <% else %>
      <br>
      <p><ems>Lieu de l'évènement :</ems> 
        <br> <span class="card-category"><%= event.location.upcase  %></p></span>
    <% end %>
    <%#= button_to '♡', event_likes_path(course), method: :post, class: "button-24 text-decoration-none" %>
  </div>
</div>