<div class="container">
  <div class="row justify-content-center mb-4 border rounded-pill p-1">
    <%= form_with url: events_path, method: :get, class: "d-flex search-bar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control bg-none border-0 search",
        placeholder: "Rechercher un évènement"
      %>
      <%= button_tag(type: "submit", class: "btn btn-link text-info") do %>
        <i class="fa fa-search"></i>
      <% end%>
    <% end %>
  </div>

  <div>
    <div id="events" data-controller="add-event display-visuel">
      <div class="all-cards" data-add-event-target="list">
      
          <% @events.each do |event| %>
            <%= link_to "events/#{event.id}", data: { action:  "click->display-visuel#display" }, style: 'text-decoration: none' do %>
        <div class="card-header">
          Share Event & <%= event.user.first_name %> <%= event.user.last_name %> présentent
        </div>
      <div class="card text-center" >
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.user.first_name %> <%= event.user.last_name %></p>
          <p class="card-text"><%= event.starting_date %></p>
        </div>
        <div class="card-footer text-muted">
          Ajoutez cet évènement à votre agenda : 
        </div>
            <% end %>
          </div>
          <% end %>
      </div>
      </div>

      <%= render "events/visualisation_event", event: @last_event %>
      <div class="main-container-file">
        <div class="file-download">
          <img src="<%= image_path 'file.png'%>" class="icon-file" >
          <button class="button-62 btn-file" data-action="click->add-event#displayForm" role="button"> Share ton évènement </button>
        </div>
        <%= render 'events/add_event_form'%>
      </div>
    </div>
  </div>
</div>
