<div class="user-main-container" data-controller="add-event display-event-card">
  <div class="main-content-user">
    <div class="row justify-content-center mx-5 mb-4 border rounded-pill p-1">
      <%= form_with url: events_path, method: :get, class: "d-flex search-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control bg-none border-0 search",
          placeholder: "Rechercher un évènement"
        %>
        <%= button_tag(type: "submit", class: "btn btn-link text-info") do %>
          <i class="fa fa-search"></i>
        <% end%>
      <% end %>
    </div>

    <div id="courses">
      <div class="event-cards" data-add-event-target="list">
        <% @events.each do |event| %>
          <%= link_to "events/#{event.id}", data: { action:  "click->display-event-card#display" },class: "", style: 'text-decoration: none' do %>
            <div class="event-card">
              <div class="event-icon card-category">
                <% if event.category == "Soirée" %>
                  <%= image_tag("party1.png") %>
                <% elsif event.category == "Conférence" %>
                  <%= image_tag("conference-2.png") %>
                <% elsif event.category == "Speed dating" %>
                  <%= image_tag("dating.jpg") %>
                <% elsif event.category == "Coaching" %>
                  <%= image_tag("conference-2.png") %>
                <% elsif event.category == "CAMPUS ALERT" %>
                  <%= image_tag("campus-alert.jpg") %>
                <% elsif event.category == "Gaming" %>
                  <%= image_tag("gaming.png") %>
                <% elsif event.category == "Témoignage" %>
                  <%= image_tag("temoignage.png")  %>
                <% elsif event.category == "Tournoi" %>
                  <%= image_tag("tournoi.jpg")  %>
                <% end %>
              </div>
              <div class="event-infos">
                <div class="card-category">
                  <% if event.category == "Soirée" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-champagne-glasses"></i></h5>
                  <% elsif event.category == "Conférence" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-school"></i></h5>
                  <% elsif event.category == "Speed dating" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-heart"></i></h5>
                  <% elsif event.category == "Coaching" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-person-chalkboard"></i></h5>
                  <% elsif event.category == "CAMPUS ALERT" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-bell"></i></h5>
                  <% elsif event.category == "Gaming" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-headset"></i></h5>
                  <% elsif event.category == "Témoignage" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-child-reaching"></i></h5>
                  <% elsif event.category == "Tournoi" %>
                    <h5 class="card-category"><span class="event-intro">Share Event</span><i class="fa-solid fa-headset"></i></h5>
                  <% end %>
                </div>
                <h2 visu-subtitle><%= event.title %></h2>
                <p>Date de l'évènement -
                <%= event.starting_date %><%= event.starting_time %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="display-event">
      <div>

        <%= render "events/visualisation_event", event: @last_event %>
      </div>
      <div class="main-container-file">
        <div class="file-download">
          <img src="<%= image_path 'add-event.jpg'%>" class="icon-file" >
          <button class="button-62 btn-file" data-action="click->add-event#displayForm" role="button"> Share ton évènement </button>
        </div>
        <%= render 'events/add_event_form', event: @event%>
      </div>
    </div>
  </div>
</div>
