
<h1>Vos contributions</h1>
<div class="dashboard-main">
  <div class="dashboard-cours">
  <% @user_courses.each do |course| %>
  <div class="cours-details">
    <ul style="list-style-type: none;">
      <div class="cours-li">
        <li><%= course.title %></li>
        <li><%= course.category %></li>
        <li><%= course.date %></li>
        <li><%= cl_image_tag course.document.key, width: 250, height: 300,crop: :fill, format: :jpg, class:"pdf" %></li>
      </div>
    </ul>
  </div>
  <% end %>
  <h1>Vos favoris</h1>
  <% @likes.each do |like| %>
    <div class="cours-details">
      <ul style="list-style-type: none;">
        <div class="cours-li">
          <%= link_to "https://res.cloudinary.com/dnqkzzqga/image/upload/c_fill,h_1000,w_1000/v1/#{ENV["RAILS_ENV"]}/#{like.course.document.key}", target: :blank do %>
          <li><%= like.course.title %></li>
          <li><%= like.course.category %></li>
          <li><%= like.course.date %></li>
          <li><%= cl_image_tag like.course.document.key, width: 250, height: 300,crop: :fill, format: :jpg, class:"pdf" %></li>
          <% end %>
        </div>
      </ul>
    </div>
  <% end %>
  <% @friendship_requests.each do |request| %>
    <p>
      <%= "#{request.user.first_name} #{request.user.last_name} vous a envoyé une demande d'ami" %>
      <%= link_to 'Accepter',  accept_friendship_path(request), data: { turbo_method: :patch } %>
      <%= link_to 'Décliner', decline_friendship_path(request), method: :delete, data: { turbo_method: :patch, confirm: 'Êtes-vous sûr?' } %>
    </p>
  <% end %>

  </div>

  <div class="dashboard-infos">
  <h3>Tes sharemates :</h3>
    <div class="friendlist">
      <% @friendship.each do |friendship| %>
      <p>
        <%= "#{friendship.user.first_name} #{friendship.user.last_name}" %>
      </p>
      <% end %>
    </div>
      <%= image_tag("students.jpg", class: "students-img") %>
  </div>
</div>
