
<h1>Vos contributions</h1>
<div class="dashboard-main">
  <div class="dashboard-cours">
    <div class="list-cards" id="create">
      <% @user_courses.each do |course| %>
        <div class="cours-details">
          <%= cl_image_tag course.document.key, width: 250, height: 300,crop: :fill, format: :jpg, id:"cours-pdf" %>
          <div class="cours-card">
            <h4 class="course-title-dash"> <%= course.title %> </h4>
            <h5 class="category-course-dash"> <i class="fa-solid fa-book icone"></i><%= course.category.capitalize %> </h5>
            <p class="course-date"> <%= course.date %> </p>
          </div>
          <button class="button-24 text-decoration-none" id="btn-fav"> <i class="fa-solid fa-pen" style="color: #ffffff;"></i>  </button>
        </div>
      <% end %>
    </div>
  <div class="favoris">
    <h1>Vos favoris</h1>
    <div class="list-cards">
      <% @likes.each do |like| %>
        <%= link_to "https://res.cloudinary.com/dnqkzzqga/image/upload/c_fill,h_1000,w_1000/v1/#{ENV["RAILS_ENV"]}/#{like.course.document.key}", target: :blank, class: "link-cards" do %>
          <div class="cours-details">
              <%= cl_image_tag like.course.document.key, crop: :fill, format: :jpg, id:"cours-pdf" %>
            <div class="cours-card">
              <h4 class="course-title-dash"> <%= like.course.title %> </h4>
              <h5 class="category-course-dash"> <i class="fa-solid fa-book icone"></i><%= like.course.category.capitalize %> </h5>
              <p class="course-date"> <%= like.course.date %> </p>
            </div>
            <%= button_to '♥', course_likes_path(like), method: :post, class: "button-24 text-decoration-none", id:"btn-fav"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <% @friendship_requests.each do |request| %>
    <p>
      <%= "#{request.user.first_name} #{request.user.last_name} vous a envoyé une demande d'ami" %>
      <%= link_to 'Accepter',  accept_friendship_path(request), data: { turbo_method: :patch } %>
      <%= link_to 'Décliner', decline_friendship_path(request), method: :delete, data: { turbo_method: :patch, confirm: 'Êtes-vous sûr?' } %>
    </p>
  <% end %>

  </div>

  <div class="dashboard-infos">
  <h3 id="sharemates">Tes sharemates :</h3>
    <div class="friendlist">
      <% @jsp.each do |friendship| %>
      <p>
        <% if friendship.user == current_user  %>
        <%= "#{friendship.friend.first_name} #{friendship.friend.last_name}" %>
        <% else %>
        <%= "#{friendship.user.first_name} #{friendship.user.last_name}" %>
        <% end %>
      </p>
      <% end %>
    </div>
      <%= image_tag("students.jpg", class: "students-img") %>
  </div>
</div>
