
<div class="dashboard-main">
  <div class="dashboard-cours">
  <h3 id="title-dash">Vos contributions</h3>
    <div class="list-cards" id="create">
      <% @user_courses.each do |course| %>
        <div class="cours-details">
          <%= cl_image_tag course.document.key, width: 250, height: 300,crop: :fill, format: :jpg, id:"cours-pdf" %>
          <div class="cours-card">
            <h4 class="course-title-dash"> <%= course.title %> </h4>
            <h5 class="category-course-dash"> <i class="fa-solid fa-book icone"></i><%= course.category.capitalize %> </h5>
            <p class="course-date"> <%= course.date %> </p>
          </div>
          <button class="button-24 text-decoration-none" id="btn-fav"> <i class="fa-solid fa-pen" style="color: #ffffff;"></i>  </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="favoris">
    <h3 id="title-dash">Vos favoris</h3>
    <div class="list-cards">
      <% @likes.each do |like| %>
        <%= link_to "https://res.cloudinary.com/dnqkzzqga/image/upload/c_fill,h_1000,w_1000/v1/#{ENV["RAILS_ENV"]}/#{like.course.document.key}", target: :blank, class: "link-cards" do %>
          <div class="cours-details">
              <%= cl_image_tag like.course.document.key, crop: :fill, format: :jpg, id:"cours-pdf" %>
            <div class="cours-card">
              <h4 class="course-title-dash"> <%= like.course.title %> </h4>
              <h5 class="category-course-dash"> <i class="fa-solid fa-book icone"></i><%= like.course.category.capitalize %> </h5>
              <p class="course-date"> <%= like.course.date %> </p>
            </div>
            <%= button_to '♥', course_likes_path(like), method: :post, class: "button-24 text-decoration-none", id:"btn-fav"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



  <div class="friends">
    <div>
      <h3 id="title-dash">Tes sharemates </h3>
    </div>
    <div class="friendlist">
      <% @jsp.each do |friendship| %>
        <% if friendship.user == current_user  %>
            <div class="friend">
              <%= cl_image_tag friendship.friend.photo.key, crop: :fill, format: :jpg, class: "avatar-large-dashboard" %>
              <p class="name"> <%= "#{friendship.friend.first_name} #{friendship.friend.last_name}" %> </p>
            </div>
        <% else %>
          <div class="friend">
            <%= cl_image_tag friendship.user.photo.key, crop: :fill, format: :jpg, id:"cours-pdf" %>
            <p class="name"> <%= "#{friendship.user.first_name} #{friendship.user.last_name}" %> </p>
          </div>
        <% end %>
      <% end %>
    </div>
      <% @friendship_requests.each do |request| %>
        <p>
          <%= "#{request.user.first_name} #{request.user.last_name} vous a envoyé une demande d'ami" %>
          <%= link_to 'Accepter',  accept_friendship_path(request), data: { turbo_method: :patch } %>
          <%= link_to 'Décliner', decline_friendship_path(request), method: :delete, data: { turbo_method: :patch, confirm: 'Êtes-vous sûr?' } %>
        </p>
      <% end %>
  </div>
    <%= image_tag("dashboard.jpg", class: "students-img") %>

    <div class="card-user-dashboard">
    <%= cl_image_tag current_user.photo.key, width: 250,crop: :fill,  class: "avatar-large-preview", alt: "avatar-large" %>
    <h5 class="user-card-title"> <%= current_user.first_name %></h5>
    <h5 class="user-card-title"> <%= current_user.last_name %></h5>
    <h6 class="link-card"> #<%= current_user.batch %></h6>
    <p> <%= current_user.description %></p>
      <button class= "btn-update">
        Modifier mon profil
      </button>
  </div>
</div>
