
<div class="list-card">
  <h4><%= course.title %></h4>
  <p><%= course.date %></p>
  <p><%= course.summarize %></p>
  <p><%= course.category %></p>
  <p><%= course.user.email %><%= course.user.last_name %></p>
  <img src="<%= image_path 'logo-pdf.jpg'%>">
</div>
