<div class="main-card-content">
<div class="card-visualisation" data-display-visuel-target="preview">
    <%= link_to "https://res.cloudinary.com/dnqkzzqga/image/upload/c_fill,h_1000,w_1000/v1/#{ENV["RAILS_ENV"]}/#{course.document.key}", target: :blank, class: "a-file" do %>
      <p><%= cl_image_tag course.document.key, width: 250, height: 300,crop: :fill, format: :jpg, class:"pdf" %></p>
    <% end %>
    <h4 class="visu-subtitle"> <%= course.title%> </h4>
    <p class="summarize"> <%= course.summarize%> </p>
    <h5 class="card-category"> <i class="fa-solid fa-book"></i> <%= course.category.capitalize %> </h5>
    <p class="visu-text"> <%= course.user.first_name%> <%= course.user.last_name%> </p>
    <%= button_to '♡', course_likes_path(course), method: :post, class: "button-24 text-decoration-none" %>
    <%= render 'courses/add_rating', course: course, review: Review.new %>
    <%= link_to "Voir le cours", "https://res.cloudinary.com/dnqkzzqga/image/upload/c_fill,h_1000,w_1000/v1/#{ENV["RAILS_ENV"]}/#{course.document.key}", target: :blank, class: "a-file"%>
    </div>
  </div>

<%# <!--<i class="fa-regular fa-bookmark"></i> %>
