<div class="courses-container" data-cotroller="display-visuel">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un cours"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="all-cards" data-controller="add-course">
    <div id="courses"  data-add-course-target="list">
      <% if @courses.any? %>
        <% @courses.each do |course| %>
          <div class="list-card">
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.webp)">
              <h5 class="card-title"><i class="fas fa-chart-pie"></i> <%= course.category %></h5>
              <h3 class="card-subtitle"> <%= course.title %></h3>
              <p class="card-text"><%= course.user.first_name %> <%= course.user.last_name %></p>
              <p class="card-text"><%= course.date %></p>
              <a class="a-file" data-action="click->display-visuel#display" > Voir plus </a>
            </div>
          </div>
        <% end %>
      <% else %>
        <em>Désolé, aucun sujet de cours n'a été trouvé.</em>
      <% end %>
    </div>
    <%= render "courses/visualisation_card"%>
  </div>
</div>
