<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un cours"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="all-cards">
    <div id="courses" data-controller="add-course" data-add-course-target="list">
      <% if @courses.any? %>
        <% @courses.each do |course| %>
          <div class="list-card" >
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= image_path 'img-card2.jpeg' %>)">
              <h5 class="card-title"><i class="fas fa-chart-pie"></i> <%= course.category %></h5>
              <h3 class="card-subtitle"> <%= course.title %></h3>
              <p class="card-text"><%= course.user.first_name %> <%= course.user.last_name %></p>
              <p class="card-text"><%= course.date %></p>
              <button class="button-62 btn-file" role="button"> Voir plus</button>
            </div>
          </div>
        <% end %>
      <% else %>
        <em>Désolé, aucun sujet de cours n'a été trouvé.</em>
      <% end %>
    </div>
    <%= render "courses/visualisation_card"%>
  </div>
</div>
