<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un cours"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div id="courses" data-controller="add-course" data-add-course-target="list">
    <% if @courses.any? %>
      <% @courses.each do |course| %>
        <div class="list-card">
          <h4><%= course.title %></h4>
          <p><%= course.date %></p>
          <p><%= course.summarize %></p>
          <p><%= course.category %></p>
          <p><%= course.user.email %><%= course.user.last_name %></p>
          <img src="<%= image_path 'logo-pdf.jpg'%>">
        </div>
      <% end %>
    <% else %>
      <em>Désolé, aucun sujet de cours n'a été trouvé.</em>
    <% end %>
    <%= render "courses/visualisation_card"%>
  </div>
</div>


