<div class="courses-container">
    <div class="row justify-content-center mb-4 border rounded-pill p-1">
      <%= form_with url: courses_path, method: :get, class: "d-flex search-bar" do %>

        <%= text_field_tag :query,
          params[:query],
          class: "form-control bg-none border-0 search",
          placeholder: "Rechercher un cours"
        %>
        <%= button_tag(type: "submit", class: "btn btn-link text-info") do %>
          <i class="fa fa-search"></i>
        <% end%>
      <% end %>
    </div>

  <div>
    <div id="courses" data-controller="add-course display-visuel">
      <div class="all-cards" data-add-course-target="list">
        <% if @courses.any? %>
          <% @courses.each do |course| %>
            <div class="list-card"  >
              <div class="card-img" style="background-image: url(<%= image_path 'img-card2.jpeg' %>)">
                <h5 class="card-title"><i class="fas fa-chart-pie"></i> <%= course.category %></h5>
                <h3 class="card-subtitle"> <%= course.title %></h3>
                <p class="card-text"><%= course.user.first_name %> <%= course.user.last_name %></p>
                <p class="card-text"><%= course.date %></p>
          
                <%= link_to "voir plus", course_path(course.id), data: {display_visuel_target: "eva", action: "click->display-visuel#display" }  %>
                <%= button_to 'Ajouter aux favoris ♡', course_likes_path(course), method: :post, class: "button-24 text-decoration-none"%>
            </div>

          </div>
          <% end %>
        <% else %>
          <em> Désolé, aucun sujet de cours n'a été trouvé.</em>
        <% end %>
      </div>
    <%= render "courses/visualisation_card", course: @last_course %>
    <div class="main-container-file">
    <div class="file-download">
      <img src="<%= image_path 'file.png'%>" class="icon-file" >
      <button class="button-62 btn-file" data-action="click->add-course#displayForm" role="button"> Share ton cours </button>
    </div>
    <%= render 'courses/add_course_form'%>
  </div>
</div>
    </div>
  </div>
</div>
