<h1><%= @course.title %></h1>

<div class="main-card-content">
  <div class="card-visualisation " data-display-visuel-target="show">
    <p><%#= cl_image_tag @course.document.key, width: 250, height: 300,crop: :fill, format: :jpg, class:"pdf" %></p>
    <h4 class=" visu-subtitle"> <%= @course.title%> </h4>
    <h5 class="card-title"> <i class="fas fa-chart-pie"></i> <%= @course.category%> </h5>
    <p class="visu-text"> <%#= @course.user.first_name%> <%#= @course.user.last_name%> </p>
    <p class="summarize"> <%= @course.summarize%> </p>
    <%= link_to "Voir le cours", "https://res.cloudinary.com/dnqkzzqga/image/upload/c_fill,h_1000,w_1000/v1/development/#{@course.document.key}", target: :blank, class: "a-file"%>
  </div>


</div>
